*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p,
li,
figcaption {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 4rem;
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 2;
}

.toggle-menu {
  display: none;
  font-size: 1.5rem;
  color: #f48e5b;
  background-color: #f5f5f5;
  cursor: pointer;
  border: 0;
}

header h2 {
  color: #f48e5b;
}

.nav-list {
  display: flex;
  border-radius: 100px;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0px 12px;
}

.nav-list li {
  width: 135px;
}

.nav-list li a {
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid transparent;
}

.nav-list li a:hover {
  border: 1px solid #d6d5d5;
}

.nav-list li a.active {
  transition: background-color 300ms ease;
  color: #fff;
  border: 1px solid;
  background-color: #f48e5b;
}

.resume-download {
  display: block;
  width: 100px;
  padding: 8px;
  color: #f48e5b;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #f48e5b;
  cursor: pointer;
}

.resume-download:hover {
  transition: background-color 300ms ease;
  color: #fff;
  background-color: #f48e5b;
}

main {
  margin: auto;
  width: 80vw;
}

section {
  scroll-margin-top: 86px;
  scroll-snap-align: start;
  min-height: 100vh;
  padding: 10px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-block: 10px 30px;
  text-align: center;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.top-section,
.bottom-section {
  display: flex;
  gap: 1.5rem;
}

.profile-image {
  min-width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/images/profile.webp");
  border-radius: 14px;
}

.profile-details {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.profile-details h1 {
  font-size: 2.5rem;
}

.profile-details > span {
  margin-left: 3px;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 2px;
}

.icon-text span {
  margin-top: 2px;
}

.icon-text .ext-link {
  cursor: pointer;
  margin-bottom: 2px;
}

.profile-details p {
  margin-top: auto;
}

.social-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
  flex: 0 0 350px;
}

.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.social-link-item svg {
  height: 18px;
  width: 18px;
}

.social-link-item span {
  margin-left: 5px;
  margin-top: 2px;
  font-size: 1rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 120px;
  padding: 4px 10px;
  height: fit-content;
  border: 1px solid #000;
  border-radius: 5px;
}

.skill-item svg {
  height: 20px;
  width: 20px;
}

.skill-item span {
  margin-top: 2px;
}

/* experience */

.timeline-wrap {
  display: flex;
}

.company {
  min-width: 255px;
  padding: 0.2rem 3.2rem 0 0;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  padding: 0.2rem 0 3rem 3.2rem;
}

.projects.start::before {
  top: 0.9rem;
}

.projects::before {
  content: "";
  position: absolute;
  background-color: #f48e5b;
  width: 2px;
  bottom: 0;
  top: 0;
  left: 0;
}

.project-details {
  position: relative;
}

.project-details::after {
  content: "";
  position: absolute;
  background-color: #f48e5b;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100px;
  left: -54px;
  top: 0.65rem;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project-stack-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.project-stack-items span {
  font-size: 0.875rem;
  padding: 0px 5px;
  padding-top: 1.5px;
  border-radius: 10px;
  border: 1px solid #d6d5d5;
}

.project-contribution {
  margin-top: 10px;
}

.project-contribution li {
  margin-top: 5px;
  margin-left: 20px;
  list-style-type: circle;
}

/* achievemnets */

.achievements-container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.achievements-container .rewards {
  margin-top: 50px;
}

.achievements-container .rewards-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.reward_1 {
  background-image: url("assets/images/reward_1.webp");
  aspect-ratio: 504 / 875 !important;
}

.reward_2 {
  background-image: url("assets/images/reward_2.webp");
}

.reward_3 {
  background-image: url("assets/images/reward_3.webp");
  aspect-ratio: 457 / 566 !important;
}

.reward_1,
.reward_2,
.reward_3 {
  width: 504px;
  aspect-ratio: 504 / 566;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 2px solid #f48e5b;
}

.reward_1:hover,
.reward_2:hover,
.reward_3:hover {
  cursor: pointer;
  opacity: 0.8;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* github-gists */

.gists-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gist-item {
  border-radius: 10px;
  border: 2px solid #f48e5b;
  flex: 0 1 500px;
  height: 410px;
  overflow-y: hidden;
  background-color: #fff;
}

.gist-title {
  border-radius: 8px 8px 0 0;
  padding: 7px 15px;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (max-width: 64rem) {
  main {
    width: 90vw;
  }

  section {
    scroll-margin-top: 75px;
  }

  .profile-details h1,
  .section-title {
    font-size: 2rem;
  }

  .profile-image {
    min-width: 300px;
    height: 300px;
    border-radius: 10px;
  }

  h3 {
    font-size: 1.1rem;
  }

  p,
  span,
  a,
  .social-link-item span,
  .project-contribution li {
    font-size: 0.875rem;
  }

  .social-link-item svg {
    height: 16px;
    width: 16px;
  }

  .skill-item svg {
    height: 18px;
    width: 18px;
  }

  .icon-text svg {
    height: 18px;
    width: 18px;
  }

  a svg {
    height: 18px;
    width: 18px;
  }

  p {
    max-width: 100ch;
  }

  header {
    padding-inline: 2rem;
  }

  .nav-list {
    gap: 0.8rem;
  }

  .nav-list li {
    width: 125px;
  }

  .social-links-container {
    align-self: flex-start;
    flex: 0 0 300px;
  }

  .project-stack-items span {
    font-size: 0.75;
  }

  .achievements-container .rewards {
    margin-top: 0px;
  }

  .achievements-container .rewards,
  .achievements-container .rewards-group,
  .reward_1,
  .reward_2,
  .reward_3 {
    width: 100%;
    max-width: 504px;
  }
}

@media (max-width: 48rem) {
  main {
    width: 95vw;
  }

  header {
    padding-inline: 1rem;
  }

  header h2 {
    display: none;
  }

  header a {
    margin-right: auto !important;
  }

  .toggle-menu {
    display: block;
  }

  .nav-list {
    position: absolute;
    right: 10px;
    top: 100%;
    flex-direction: column;
    background-color: #f5f5f5;
    border: 1px solid #f48e5b;
    padding: 12px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in, visibility 0s 0.3s, transform 0.3s ease-in;
  }

  .nav-list.open {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }

  .top-section,
  .bottom-section {
    align-items: center;
    flex-direction: column;
  }

  .social-links-container {
    align-self: flex-start;
    flex: 0;
  }

  .profile-details {
    padding-top: 0;
  }

  .profile-details p {
    margin-top: 1.5rem;
  }

  .timeline-wrap {
    display: flex;
    gap: 0;
  }

  .company {
    min-width: 145px;
    padding: 0.2rem 1rem 0 0;
  }

  .projects {
    gap: 1.8rem;
    padding: 0.2rem 0 2rem 1rem;
  }

  .projects::before {
    bottom: 0;
    top: 0;
    left: 0;
  }

  .project-details::after {
    left: -19px;
  }
}

@media (max-width: 40rem) {
  .company {
    width: 90px;
    min-width: 90px;
    padding: 0.2rem 1rem 0 0;
  }

  .timeline-container .icon-text {
    align-items: flex-end;
  }

  .timeline-container .icon-text .ext-link {
    margin-bottom: 5px;
  }

  .timeline-container .title:has(span) .icon-text h3 {
    width: min-content;
  }
}
